<% if current_user == message.user%>

    <!-- msg on right side bcoz it is sent by an current user -->
    <div class="flex flex-row justify-end gap-1 my-2 mx-2 ">
        <div class="flex flex-col items-start justify-start px-2 gap-y-0.5">
            <!-- message content -->
            <p class=" text-sm w-fit h-fit px-2 py-2 self-end text-right bg-[#cfe5fb] rounded-tr-lg rounded-l-lg"><%= message.content%></p>

            <!-- post_image is present -->
            <% if message.post_image.attached? %>
                <div class="flex flex-row justify-between items-center gap-2">
                        <div class="rounded-full flex flex-row  gap-1 w-fit h-fit px-2 py-0.5 "> 
                        <!-- increment like like counter -->
                        <%= link_to like_post_path(message), class: "block" do %>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-yellow-500 cursor-pointer transform hover:scale-125 transition duration-500 ease-in-out ">
                                <path d="M7.493 18.5c-.425 0-.82-.236-.975-.632A7.48 7.48 0 0 1 6 15.125c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75A.75.75 0 0 1 15 2a2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23h-.777ZM2.331 10.727a11.969 11.969 0 0 0-.831 4.398 12 12 0 0 0 .52 3.507C2.28 19.482 3.105 20 3.994 20H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 0 1-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227Z" />
                            </svg>
                        <% end %>
                        <!-- if the current user lies then count will come in bold and blue in color-->
                        <% if message.likes > 0 %>
                            <p class="text-sm font-semibold "><%= message.likes %></p>
                        <% end %>
                    </div>
                    <div class="bg-[#cfe5fb] w- rounded-xl py-1 px-1 flex-col flex gap-1 justify-between"> 
                        <%= image_tag(message.post_image, class: "max-w-72 max-h-56 bg-cover rounded-xl cursor-pointer") %>
                    </div>
                </div>
            <% end %>

            <!-- if have a pdf file then display it -->
            <% if message.file_upload.attached? %>
                  <% if message.file_upload.blob.content_type == 'application/pdf' %>
                    <!-- Code to display PDF content or placeholder -->
                    <div class="flex flex-row gap-2 w-full justify-between items-center bg-[#cfe5fb] px-2 py-4 rounded-md">

                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-h-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                            </svg>
                        </div>
                        <p class="text-md font-medium  flex flex-1"><%= message.file_upload.filename.to_s%></p>
                    </div>
                    <iframe src="<%= rails_blob_path(message.file_upload, disposition: 'inline') %>" 
                            class="max-w-72 max-h-56 aspect-video"
                            frameborder="0" 
                            allowfullscreen="true">
                    </iframe>
                  <% end %>
            <% end %>

            <!-- message created_at time -->
            <p class="text-[0.6em] self-end text-right font-medium text-[#8a8a8a]"><%= message.created_at.in_time_zone('Mumbai').strftime("%I:%M %p") %></p>
        </div>
    </div>

    
<% else %>

    <!-- msg on left side bcoz it is sent by another user -->
    <div class="flex flex-row justify-start gap-1 my-2 mx-2 ">
        <% if message.user.profile_image.attached? %>
        <div>
            <%= image_tag(message.user.profile_image, class: "w-8 h-8 rounded-full") %>
        </div>
        <% end %>
        <div class="bg- w-fit flex flex-col items-start justify-start px-2 gap-y-0.5">
            <p class="text-sm font-medium "><%= message.user.name %></p>
            <div class="flex flex-col gap-0.5">
                <p class=" text-sm w-fit h-fit px-2 py-2 self-start text-left bg-[#fff] rounded-r-lg rounded-bl-lg"><%= message.content%></p>

                <!-- image preview if image available -->
                <% if message.post_image.attached? %>
                    <div class="flex flex-row justify-between items-center gap-2">
                        <div class="bg-[#fff] w- rounded-xl py-1 px-1 flex-col flex gap-1               justify-between"> 
                            <%= image_tag(message.post_image, class: "w-72 h-48 bg-cover rounded-xl cursor-pointer") %>
                        </div>
                        <div class="rounded-full flex flex-row  gap-1 w-fit h-fit px-2 py-0.5 ">
                            <%= link_to like_post_path(message), class: "block" do %>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-yellow-500 cursor-pointer transform hover:scale-125 transition duration-500 ease-in-out ">
                                    <path d="M7.493 18.5c-.425 0-.82-.236-.975-.632A7.48 7.48 0 0 1 6 15.125c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75A.75.75 0 0 1 15 2a2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23h-.777ZM2.331 10.727a11.969 11.969 0 0 0-.831 4.398 12 12 0 0 0 .52 3.507C2.28 19.482 3.105 20 3.994 20H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 0 1-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227Z" />
                                </svg>
                            <% end %>
                            <!-- if the current user lies then count will come in bold and blue in color-->
                            <% if message.likes > 0 %>
                                <p class="text-sm font-semibold "><%= message.likes %></p>
                            <% end %>
                        </div>
                    </div>
                <% end %>

                <!-- if have a pdf file then display it -->
            <% if message.file_upload.attached? %>
                  <% if message.file_upload.blob.content_type == 'application/pdf' %>
                    <!-- Code to display PDF content or placeholder -->
                    <div class="flex flex-row gap-2 w-full justify-between items-center bg-[#cfe5fb] px-2 py-4 rounded-md">

                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-h-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                            </svg>
                        </div>
                        <p class="text-md font-medium  flex flex-1"><%= message.file_upload.filename.to_s%></p>
                    </div>
                    <iframe src="<%= rails_blob_path(message.file_upload, disposition: 'inline') %>" 
                            class="max-w-72 max-h-56 aspect-video"
                            frameborder="0" 
                            allowfullscreen="true">
                    </iframe>
                  <% end %>
            <% end %>


                <p class="text-[0.6em] self-start text-left font-medium text-[#8a8a8a]"><%= message.created_at.in_time_zone('Mumbai').strftime("%I:%M %p") %></p>
            </div>
        </div>
    </div>

<% end %>