
<div class="flex flex-row justify-start gap-1 p-2 rounded-md">
    <div>
        <% if comment.user.profile_image.attached?%>
            <%= image_tag(comment.user.profile_image, class: "w-8 h-8 rounded-full") %>
        <% else %>
            <% result = comment.user.name.split.map(&:first).join.upcase %>
            <% profile_bg_color = ["blue-300", "stone-400", "amber-300", "sky-500", "orange-500" ].shuffle.first  %>
            <div class="w-8 h-8 bg-amber-400 border-none rounded-full cursor-pointer flex items-center justify-center" id="btn" aria-describedby="tooltip" >
                <p class="text-gray-700 text-sm font-bold font-serif"><%= result %> </p>
            </div>
        <% end %>
    </div>
    <div class="bg- w-fit flex flex-col items-start justify-start px-2 gap-y-0.5">
        <div class="flex-row flex items-center gap-1">
            <p class="text-sm font-medium "><%= comment.user.name %></p>
            <p class="text-[0.6em]  font-medium text-[#8a8a8a]">
                <%= time_ago_in_words(comment.created_at.in_time_zone("Mumbai")) %> ago
            </p>
        </div>
        <p class=" text-sm w-fit h-fit pt-1 self-start text-wrap text-left"><%= comment.content%></p> 
    </div>
</div>