<%@users.each do |user|%>
    <%= image_tag user.profile_image %>
<% end %>

<h1>User Profile</h1>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>

<h2>Interests</h2>
<% @user.interests.each do |interest| %>
  <p><%= interest.name %></p>
<% end %>

<h2>Add Interests</h2>
<ul>
  <% @interests.each do |interest| %>
    <li>
      <%= interest.name %>
      <%= form_with url: add_interest_path(@user), method: :post do |f| %>
        <%= f.hidden_field :interest_id, value: interest.id %>
        <%= f.submit 'Add' %>
      <% end %>
    </li>
  <% end %>
</ul>


<h2>Interests</h2>
<% @user.interests.each do |interest| %>
  <p><%= interest.name %></p>
<% end %>


<h2>Add Interests</h2>
<ul>
  <% @interests.each do |interest| %>
    <li>
      <%= interest.name %>
      <%= form_with url: add_interest_path(@user), method: :post do |f| %>
        <%= f.hidden_field :interest_id, value: interest.id %>
        <%= f.submit 'Add' %>
      <% end %>
    </li>
  <% end %>
</ul>