<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<!-- User's overview page -->
<% user = User.find(params[:id])%>



<div class="user-profile-page w-screen max-w-screen h-full max-h-screen rounded-lg">

    <div class="h-full w-full user-left-div fex-1 p-4 gap-3">
        <div class=" user-info-div p-2 rounded-md items-center  overflow-y-auto hide-scrollbar">
            <% if user.profile_image.attached? %>
                <%= image_tag(user.profile_image, class:"user-profile rounded-full") %>
            <% else %>
                <iframe src="https://lottie.host/embed/878d68ac-c13b-4752-9e8b-90709c756333/UVaMxSLjio.json" class="user-profile rounded-full"></iframe>
            <% end %>
            <div class="w-full h-auto flex flex-col justify-between p-2 gap-1">
                <p class="text-lg font-semibold text-black">User Details</p>
                <div className="flex items-center justify-between py-2 flex-row">
                    <p class="text-md font-medium text-gray-800">Name:</p>
                    <p class="text-md font-normal text-gray-800 text-wrap"><%= user.name %></p>
                </div>
                <hr className="my-1" />
                <div className="flex items-center justify-between py-2 flex-row">
                    <p class="text-md font-medium text-gray-800">Username: </p>
                    <p class="text-md font-normal text-gray-800 text-wrap"><%= user.username %></p>
                </div>
                <hr className="my-1" />
                <div className="flex items-center justify-between py-2 flex-row">
                    <p class="text-md font-medium text-gray-800">Email: </p>
                    <p class="text-md font-normal text-gray-800 text-wrap"><%= user.email %></p>
                </div>
                <hr className="my-1" />
                <div className="flex items-center justify-between py-2 flex-row">
                    <p class="text-md font-medium text-gray-800">About: </p>
                    <% if user.about %> 
                        <p class="text-md font-normal text-gray-800 text-wrap">No about!</p>
                    <% else %>
                        <p class="text-md font-normal text-gray-800 text-wrap"><%= user.about %></p>
                    <% end %>
                </div>
                <hr className="my-1" />
                <div className="flex items-center justify-between py-2 flex-row">
                    <p class="text-md font-medium text-gray-800">MEMBER SINCE</p>
                    <p class="text-md font-normal text-gray-800 text-wrap"><%= current_user.created_at.in_time_zone("Mumbai").strftime("%d %B, %Y") %></p>
                </div>
                <hr className="my-1" />
                <div className="flex items-center justify-between py-2 flex-row gap-1">
                    <p class="text-md font-medium text-gray-800">Interests</p>
                    <div class="flex flex-row flex-wrap gap-2">
                        <% user.interests.each do |interest|%>
                            <p class="px-2 py-1 rounded-md text-sm font-mono font-medium" style="background-color: lightblue;"><%= interest.name %></p>
                        <% end %>
                    </div>
                    <p class="text-md font-normal text-gray-800 text-wrap"><%= current_user.created_at.in_time_zone("Mumbai").strftime("%d %B, %Y") %></p>
                </div>
                <hr className="my-1" />
                
                <div class="w-full flex flex-1 flex-col items-center justify-center gap-2">
                    <%= link_to 'Edit Interests', user_interests_path(id: current_user.id), class:"w-full text-sm text-center font-semibold bg-gray-300 text-gray-600 px-2 py-1 rounded-md hover:text-md" %>
                    <%= link_to 'Edit Profile', edit_user_path(current_user), data: {turbo_frame: :modal, action: "click -> dialog#open"}, class:"w-full text-sm text-center font-semibold bg-gray-300 text-gray-600 px-2 py-1 rounded-md hover:text-md" %>
                    <%= link_to 'Logout', logout_path, data: { confirm: 'Are you sure?', turbo_method: :delete }, class:"w-full text-sm font-semibold bg-orange-500 text-center px-2 py-1 rounded-md" %>
                </div>
            </div>
        </div>
        
        <div class="flex flex-col w-full gap-2">

            <div class="community-post-div flex flex-col w-full  bg-white rounded-md p-2">
                <p class="w-full text-lg font-semibold p-2">Communities by <%= user.name %></p>
                <hr className="my-1 px-1" />
                <% if user.communities.count > 0 %>
                    <div class="w-full h-fit flex-col">
                        <% user.communities.each do |community|%>
                            <% if community.admin_id == current_user.id %>
                                <div class="flex w-full flex-row items-center justify-start gap-2 p-2 community-link rounded-md">
                                    <%= image_tag(community.community_profile, class:"w-8 h-8 rounded-full cursor-pointer") %>
                                    <%= link_to community do %>
                                        <p class="text-md font-medium"><%= community.name %></p>
                                    <% end %>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>
            </div>

            <div class="community-post-div flex flex-col w-full bg-white rounded-md p-2">
                <p class="w-full text-lg font-semibold p-2">Interacted Posts</p>
                <% count = 0 %>
                <div class="flex flex-col w-full h-fit max-h-[33.5em]">
                    <% VideoPost.all.each do |post| %>
                        <% post.likes.each do |like|%>
                            <% if like.user_id == user.id %>
                                <% count = count + 1%>
                                <div class="w-full h-fit flex flex-row items-center justify-start gap-2 p-2 post-link rounded-md cursor-pointer">
                                    <%= video_tag(post.video_file, controls: false, preload: false, muted:true, class:"w-8 h-8 rounded-md") %>
                                    <%= link_to e_learning_chat_room_video_post_path(post.e_learning_chat_room_id, post) do %> 
                                        <p class="text-sm font-medium"><%= post.title %></p>
                                    <% end %>
                                </div>
                            <% end %>
                        <% end %>
                    <% end %>
                    <% if count == 0 %>
                        <p class="text-md text-center font-normal">No interacted posts</p>
                    <% end %>
                </div>
            </div>
        
        </div>

        <div class="w-full h-full flex flex-col gap-2 p-2 rounded-md bg-white">
            <p class="w-full text-lg font-semibold p-2">Posts by <%= user.name %></p>
            <hr className="my-1 px-1" />
            <div class="w-full h-full max-h-[33.5em] overflow-y-auto custom-scrollbar">            
                <% count_posts_created = 0 %>
                <% VideoPost.all.each do |post|%>
                    <% if post.user_id == user.id %>
                        <% count_posts_created = count_posts_created + 1%>
                        <div class=" flex flex-row items-center justify-start gap-2 p-2 rounded-md cursor-pointer post-link">
                            <%= link_to e_learning_chat_room_video_post_path(post.e_learning_chat_room_id, post), class: "flex items-center justify-start gap-2", style: "text-decoration: none;" do %>
                                <% user = User.find(post.user_id) %>
                                <% if user.profile_image.attached?%>
                                <%= image_tag(user.profile_image, class: "w-8 h-8 rounded-full") %>
                                <% else %>
                                <% result = user.name.split.map(&:first).join.upcase %>
                                <div class="w-8 h-8 bg-amber-400 border-none rounded-full cursor-pointer flex items-center justify-center" id="btn" aria-describedby="tooltip" >
                                    <p class="text-gray-700 text-sm font-bold font-serif"><%= result %> </p>
                                </div>
                                <% end %>
                                <p><%= post.title %></p>
                            <% end %>
                        </div>
                    <% end %>
                <% end %>
                <% if count_posts_created == 0 %>
                    <p class="text-md text-center font-normal">No posts created by you</p>
                <% end %>
            </div>
        </div>

    </div>
</div>