<% if @single_community %> 
    <% if @single_community.id == community.id%>
        <div class="rounded-md border-x-4 border-green-500 relative" >
            <div id="community_btn" aria-describedby="icon_tooltip">
                <%= link_to community do %>
                    <img src="<%= url_for(community.community_profile) %>" alt="Community_profile" class="bg-cover w-12 h-12 rounded-lg cursor-pointer">
                <% end %>
            </div>
            <!-- tooltip -->
            <div class="min-w-fit max-h-[30em] overflow-y-auto hide-scrollbar flex-row items-center justify-center cursor-default  text-sm bg-slate-800 text-white p-2 gap-2 rounded-md hidden absolute left-14 top-0" style="white-space: nowrap;" id="icon_tooltip" role="icon_tooltip">
                <!-- content passed from data-tooltip-text will appear here -->
                <p><%= @single_community.name %></p>
            </div>
        </div>
    <% else %>
        <div id="btn" aria-describedby="tooltip">
            <%= link_to community do %>
                <img src="<%= url_for(community.community_profile) %>" alt="Community_profile" class="bg-cover w-12 h-12 rounded-lg cursor-pointer">
            <% end %>
            <div class="min-w-full max-w-48 max-h-fit flex-row items-center justify-center text-sm bg-slate-800 text-white px-4 py-1 rounded-md hidden absolute left-14" style="white-space: nowrap;" id="tooltip" role="tooltip">
                <!-- content passed from data-tooltip-text will appear here -->
                <p><%= community.name %></p>
            </div>
        </div>
    <% end %>
<% else %>
    <div id="btn" aria-describedby="tooltip">
        <%= link_to community do %>
            <img src="<%= url_for(community.community_profile) %>" alt="Community_profile" class="bg-cover w-12 h-12 rounded-lg cursor-pointer">
        <% end %>
        <div class="min-w-full max-w-48 max-h-fit flex-row items-center justify-center text-sm bg-slate-800 text-white px-4 py-1 rounded-md hidden absolute left-14" style="white-space: nowrap;" id="tooltip" role="tooltip">
            <!-- content passed from data-tooltip-text will appear here -->
            <p><%= community.name %></p>
        </div>
    </div>
<% end %>


<script>
  window.addEventListener('DOMContentLoaded', ()=>{
    const community_btn = document.querySelector('#community_btn');
    const icon_tooltip = document.querySelector('#icon_tooltip');
    
    community_btn.addEventListener('mouseenter', ()=>{
      console.log("mouse enter..")
      icon_tooltip.classList.remove('hidden');
    })
    community_btn.addEventListener('mouseleave', ()=>{
      console.log("mouse out..")
      icon_tooltip.classList.add('hidden');
    })
  })
</script>