<div class="min-w-full max-w-screen flex flex-col relative">
     
    
    <div class="navbar flex flex-row items-center justify-between bg-slate-800 py-2 px-4 relative">
        <!-- Explore Tab icon bar -->
        <%= link_to explore_path  do %>
                <div class="flex flex-row items-center justify-center gap-2 bg-white shadow-md px-4 py-1 rounded-full">
                    <img src="https://cdn-icons-png.flaticon.com/128/4229/4229877.png" alt="" class="w-6 h-6 rounded-full">
                    <p class="text-md font-medium ">Explore</p>
                </div>
        <% end %>
        <!-- Global search bar -->
        <div class="w-full px-20 relative">
          <%= form_with(url: searches_index_path(turbo_frame: "search_results"),
                method: "get",
                data: { "turbo-frame": "search_results",
                        controller: "search",
                        "search-target": "form" }) do |form| %>
            <%= form.search_field :query,
                  placeholder: "Search posts, users, communities...",
                  autocomplete: "off",
                  data: { action: "input->search#search" }, 
                  class:"w-full rounded-md" %>
          <% end %>
          <div class="w-full absolute left-0 -top-0">
            <turbo-frame id="search_results" target="_top"></turbo-frame>
          </div>
        </div>

        <!-- Notifications icon -->
        <button id="btn-open-notifications" class="relative notifications-count cursor-pointer transform hover:scale-105 transition duration-500 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 bg-white p-1 rounded-full">
                <path fill-rule="evenodd" d="M5.25 9a6.75 6.75 0 0 1 13.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 0 1-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 1 1-7.48 0 24.585 24.585 0 0 1-4.831-1.244.75.75 0 0 1-.298-1.205A8.217 8.217 0 0 0 5.25 9.75V9Zm4.502 8.9a2.25 2.25 0 1 0 4.496 0 25.057 25.057 0 0 1-4.496 0Z" clip-rule="evenodd" />
            </svg>
            <% if @notifications %>
                <p class="count-number px-1 rounded-full w-fit h-fit text-sm font-medium bg-blue-500"><%= @notifications.count %></p>
            <% end %>
        </button>
        <!-- notifications -->
        <div id="notifications-div" class=" hidden notifications-div w-fit h-screen max-h-screen overflow-y-auto hide-scrollbar bg-white z-50 p-2 rounded-md">
            <% if @notifications %>
                <!-- notifications -->
                <%= turbo_frame_tag "notifications" do %>
                    <%= render "comment_notifier/notifications/notifications", user: current_user %>
                <% end %>
            <% end %>
        </div>
        
    </div>
    <!-- Main section of app -->
    <section class="bg-[#dee4f6] min-w-screen flex-1  w-full min-h-screen flex justify-between items-center flex-row">

        <!-- This is a aside section for listing communities -->
        <section class="bg-white rounded-lg flex flex-col items-center justify-between flex-wrap max-h-screen h-fit max-w-fit min-w-10 w-fit mx-2 b-1  px-2 shadow-lg">

            <!-- profile icon with count of communities -->
            <div class="relative" data-controller="tooltip" data-action="mouseenter->tooltip#showTooltip">
                <!-- show profile image if attached or Show First Letters of name as Profile-->
                <% if current_user.profile_image.attached?%>
                    <div class="w-11 h-11 m-2 border-none rounded-xl flex items-center justify-center" id="btn" aria-describedby="tooltip" >
                        <%= image_tag(current_user.profile_image, class:"w-11 h-11 m-2 border-none rounded-xl cursor-pointer") %>
                        <!-- tooltip -->
                        <div class="min-w-fit max-h-[30em] overflow-y-auto hide-scrollbar flex-row items-center justify-center cursor-default  text-sm bg-slate-800 text-white p-2 gap-2 rounded-md hidden absolute left-14 top-0" style="white-space: nowrap;" id="tooltip" role="tooltip">
                            <!-- tooltip text will appear here -->
                            <div class="flex flex-col justify-center items-center h-fit gap-2">
                                <div class="flex items-center justify-center">
                                    <% if current_user.profile_image.attached?%>
                                        <%= image_tag(current_user.profile_image, class:"w-20 h-20 my-1 border-none rounded-full cursor-pointer") %>
                                    <% else %>
                                        <% result = current_user.name.split.map(&:first).join.upcase %>
                                        <% profile_bg_color = ["blue-300", "stone-400", "amber-300", "sky-500", "orange-500" ].shuffle.first  %>
                                        <div class="w-20 h-20 my-1 bg-amber-400 border-none rounded-full cursor-pointer flex items-center justify-center" id="btn" aria-describedby="tooltip" >
                                            <p class="text-black text-xl font-bold font-serif"><%= result %> </p>
                                        </div>
                                    <% end %>
                                </div>
                                <!-- Name, username and other details... -->
                                <div class="min-w-60 max-w-72 flex-wrap rounded-md flex flex-col flex-1 items-start justify-center bg-gray-700 px-4 py-1 ">
                                    <p class="text-start flex flex-1 text-lg font-semibold text-gray-200"><%= current_user.name %></p>
                                    <P class="text-start text-sm font-medium"><%= current_user.username %></P>
                                    <p class="text-start flex flex-1 text-sm font-medium text-gray-200"><%= current_user.email %></p>
                                    <hr class="w-full h-[0.5px] my-2 mx-auto border-0 rounded  dark:bg-gray-600">
                                    <p class="text-start flex flex-1 text-sm font-semibold text-gray-200">MEMBER SINCE</p>
                                    <p class="text-start flex flex-1 text-sm font-medium text-gray-200"><%= current_user.created_at.in_time_zone("Mumbai").strftime("%d %B, %Y") %></p>
                                    <hr class="w-full h-[0.5px] my-2 mx-auto border-0 rounded  dark:bg-gray-600">
                                    <p class="text-start flex flex-1 text-sm font-semibold text-gray-200">ABOUT</p>
                                    <p class="text-start text-md font-semibold text-[#fff] ">
                                        <!-- about content -->
                                        <span class="text-md text-wrap break-words"><%= current_user.about %></span>
                                    </p>
                                </div>
                                <!-- listing all communities a user is a admin of -->
                                <% if current_user.communities.count > 0 %>
                                    <div class="min-w-60 max-w-72 flex-wrap rounded-md flex flex-col flex-1 items-start justify-center bg-gray-700 px-4 py-1 max-h-[20em] overflow-y-auto hide-scrollbar">
                                        <p class="text-start flex flex-1 text-md font-semibold text-gray-200">ADMIN COMMUNITIES</p>
                                        <hr class="w-full h-[0.5px] my-2 mx-auto border-0 rounded  dark:bg-gray-600">
                                        <% current_user.communities.each do |community|%>
                                            <% if community.admin_id == current_user.id %>
                                                <div class="my-0.5 flex flex-row items-center justify-between gap-2">
                                                    <div class="flex items-center justify-center">
                                                        <%= image_tag community.community_profile, class:"w-6 h-6 rounded-full bg-[#2a6fff]" %>
                                                    </div>
                                                    <div class="flex-1 justify-start">
                                                        <%= community.name[0,18]%>...
                                                    </div>
                                                    <%= link_to community, class: "block" do %>
                                                        <div class="w-6 h-6 rounded-full">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5                 6L21 3m0 0h-5.25M21 3v5.25" />
                                                            </svg>
                                                        </div>
                                                    <% end %>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                <% end %>
                                <div class="flex flex-col items-start justify-start gap-2 rounded-md bg-gray-600 w-fit max-w-72 px-4 py-1">
                                    <p class="text-center font-semibold text-md">Interests</p>
                                    <div class="flex flex-row">
                                        <div class="flex flex-row flex-wrap gap-2 explore-users-interests">
                                            <% current_user.interests.each do |interest|%>
                                                <div class="flex flex-col items-center justify-center gap-1">
                                                    <p class="w-28 break-words text-wrap bg-blue-200 text-black text-xs text-center font-normal px-2 py-1 rounded-md"><%= interest.name %></p>
                                                </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-full flex flex-1 flex-col items-center justify-center gap-2">
                                    <%= link_to 'Edit Interests', user_interests_path(id: current_user.id), class:"w-full text-sm text-center font-semibold bg-gray-300 text-gray-600 px-2 py-1 rounded-md hover:text-md" %>
                                    <%= link_to 'Edit Profile', edit_user_path(current_user), data: {turbo_frame: :modal, action: "click -> dialog#open"}, class:"w-full text-sm text-center font-semibold bg-gray-300 text-gray-600 px-2 py-1 rounded-md hover:text-md" %>
                                    <%= link_to 'Logout', logout_path, data: { confirm: 'Are you sure?', turbo_method: :delete }, class:"w-full text-sm font-semibold bg-orange-500 text-center px-2 py-1 rounded-md" %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% else %>
                    <% result = current_user.name.split.map(&:first).join.upcase %>
                    <% profile_bg_color = ["blue-300", "stone-400", "amber-300", "sky-500", "orange-500" ].shuffle.first  %>
                    <div class="w-11 h-11 m-2 bg-amber-400 border-none rounded-xl flex items-center justify-center" id="btn" aria-describedby="tooltip" >
                        <p class="text-black text-xl font-bold font-serif cursor-pointer"><%= result %> </p>
                        <!-- tooltip -->
                        <div class="min-w-fit max-h-[30em] overflow-y-auto hide-scrollbar flex-row items-center justify-center cursor-default  text-sm bg-slate-800 text-white p-2 gap-2 rounded-md hidden absolute left-14 top-0" style="white-space: nowrap;" id="tooltip" role="tooltip">
                            <!-- tooltip text will appear here -->
                            <div class="flex flex-col justify-center items-center h-fit gap-2">
                                <div class="flex items-center justify-center">
                                    <% if current_user.profile_image.attached?%>
                                        <%= image_tag(current_user.profile_image, class:"w-20 h-20 my-1 border-none rounded-full cursor-pointer") %>
                                    <% else %>
                                        <% result = current_user.name.split.map(&:first).join.upcase %>
                                        <% profile_bg_color = ["blue-300", "stone-400", "amber-300", "sky-500", "orange-500" ].shuffle.first  %>
                                        <div class="w-20 h-20 my-1 bg-amber-400 border-none rounded-full cursor-pointer flex items-center justify-center" id="btn" aria-describedby="tooltip" >
                                            <p class="text-black text-xl font-bold font-serif"><%= result %> </p>
                                        </div>
                                    <% end %>
                                </div>
                                <!-- Name and username -->
                                <div class="min-w-60 max-w-72 flex-wrap rounded-md flex flex-col flex-1 items-start justify-center bg-gray-700 px-4 py-1 ">
                                    <p class="text-start flex flex-1 text-lg font-semibold text-gray-200"><%= current_user.name %></p>
                                    <P class="text-start text-sm font-medium"><%= current_user.username %></P>
                                    <p class="text-start flex flex-1 text-sm font-medium text-gray-200"><%= current_user.email %></p>
                                    <hr class="w-full h-[0.5px] my-2 mx-auto border-0 rounded  dark:bg-gray-600">
                                    <p class="text-start flex flex-1 text-sm font-semibold text-gray-200">MEMBER SINCE</p>
                                    <p class="text-start flex flex-1 text-sm font-medium text-gray-200"><%= current_user.created_at.in_time_zone("Mumbai").strftime("%d %B, %Y") %></p>
                                    <hr class="w-full h-[0.5px] my-2 mx-auto border-0 rounded  dark:bg-gray-600">
                                    <p class="text-start flex flex-1 text-sm font-semibold text-gray-200">ABOUT</p>
                                    <p class="text-start text-md font-semibold text-[#fff] ">
                                        <!-- about content -->
                                        <span class="text-md text-wrap break-words"><%= current_user.about %></span>
                                    </p>
                                </div>
                                
                                <!-- listing all communities a user is a admin of -->
                                <% if current_user.communities.count > 0 %>
                                    <div class="min-w-60 max-w-72 flex-wrap rounded-md flex flex-col flex-1 items-start justify-center bg-gray-700 px-4 py-1 max-h-[20em] overflow-y-auto hide-scrollbar">
                                        <p class="text-start flex flex-1 text-md font-semibold text-gray-200">ADMIN COMMUNITIES</p>
                                        <hr class="w-full h-[0.5px] my-2 mx-auto border-0 rounded  dark:bg-gray-600">
                                        <% current_user.communities.each do |community|%>
                                            <% if community.admin_id == current_user.id %>
                                                <div class="my-0.5 flex flex-row items-center justify-between gap-2">
                                                    <div class="flex items-center justify-center">
                                                        <%= image_tag community.community_profile, class:"w-6 h-6 rounded-full bg-[#2a6fff]" %>
                                                    </div>
                                                    <div class="flex-1 justify-start">
                                                        <%= community.name[0,18]%>...
                                                    </div>
                                                    <%= link_to community, class: "block" do %>
                                                        <div class="w-6 h-6 rounded-full">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5                 6L21 3m0 0h-5.25M21 3v5.25" />
                                                            </svg>
                                                        </div>
                                                    <% end %>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                <% end %>
                                <div class="flex flex-col items-start justify-start gap-2 rounded-md bg-gray-600 w-fit max-w-72 px-4 py-1">
                                    <p class="text-center font-semibold text-md">Interests</p>
                                    <div class="flex flex-row">
                                        <div class="flex flex-row flex-wrap gap-2 explore-users-interests">
                                            <% current_user.interests.each do |interest|%>
                                                <div class="flex flex-col items-center justify-center gap-1">
                                                    <p class="w-28 break-words text-wrap bg-blue-200 text-black text-xs text-center font-normal px-2 py-1 rounded-md"><%= interest.name %></p>
                                                </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-full flex flex-1 flex-col items-center justify-center gap-2">
                                    <%= link_to 'Edit Interests', user_interests_path(id: current_user.id), class:"w-full text-sm text-center font-semibold bg-gray-300 text-gray-600 px-2 py-1 rounded-md hover:text-md" %>
                                    <%= link_to 'Edit', edit_user_path(current_user), data: {turbo_frame: :modal, action: "click -> dialog#open"}, class:"w-full text-sm text-center font-semibold bg-gray-300 text-gray-600 px-2 py-1 rounded-md hover:text-md" %>
                                    <%= link_to 'Logout', logout_path, data: { confirm: 'Are you sure?', turbo_method: :delete }, class:"w-full text-sm font-semibold bg-orange-500 text-center px-2 py-1 rounded-md" %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                <% if @communities.count != 0%>
                    <p class="text-xs bg-green-500 font-semibold text-white shadow-md rounded-md text-center"><%= @communities.count %></p>
                <% end %>
            </div>
            <div class="h-fit max-h-[37em] flex flex-col flex-1 gap-2 overflow-y-auto hide-scrollbar">
                <!-- Here I am streaming the list of communities -->
                <!-- broadcasted "communities" in the community model and it it important to use the turbo_stream_from and give id="communities" to the div we are rendering -->
                <%= turbo_stream_from 'communities'%>
                <div id="communities" class=" flex flex-1 flex-start flex-col gap-2 flex-wrap ">
                    <% if @communities.count != 0%>
                        <%= render @communities, single_community: @single_community%>
                    <% end %>
                </div>

                <!-- TODO: Search for existing community -->
                <%= link_to join_communities_path, data: {turbo_frame: :modal, action: "click -> dialog#open"}, class: "block" do %>
                    <div class="w-12 h-12 mb-2 border-none bg-[#dee4f6] rounded-full text-green-500 cursor-pointer flex justify-center items-center ">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 font-bold">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>
                    </div>
                <% end %>

                <!-- TODO: Create new community with modal -->
                <%= link_to new_community_path, data: {turbo_frame: :modal, action: "click -> dialog#open"}, class: "block" do %>
                    <div class="w-12 h-12 mb-2 border-none bg-[#dee4f6] rounded-full text-green-500 cursor-pointer flex justify-center items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                    </div>
                <% end %>
            </div>

        </section>

        <!-- This is a chatroom section -->
        <section class=" border-[#f4f6fa] flex flex-1 border-l-2 rounded-l-lg min-h-screen justify-center">
            <!-- Conditional rendering for selected community -->
            <% if @single_community %>
                <!-- rendering a show_community partial -->
                <%= render 'layouts/show_community', community: @single_community, community_members: @community_members, community_admin: @community_admin, pending_requests: @pending_requests %>
            <% else %>
                <!-- listing all latest posts from all communities a current_user is part of -->
                <section class="flex flex-1 flex-col items-center gap-2 py-2 max-h-screen overflow-y-auto custom-scrollbar">

                    <!-- TODO: create a partial for showing all latest posts from all communities acurrent_user is part of -->
                    <% if @all_messages.count <= 0 %>
                        <p class="w-full flex items-center justify-center text-center text-4xl font-semibold text-orange-950 py-2">You have not shared any posts yet...</p>
                    <% else %>
                        <p class="text-xl font-semibold py-1 px-2 bg-yellow-200 rounded-full">Posts Messages</p>
                        <% @all_messages.each do |message|%>
                            <% if message.post_image.attached? %>
                                <div class="flex w-full flex-row justify-center my-2 mx-2 hover:rounded-md hover:bg-slate-300 p-2">
                                    
                                    <% if message.user.profile_image.attached?%>
                                        <%= image_tag(message.user.profile_image, class:"w-14 h-14 my-1 border-none rounded-full cursor-pointer") %>
                                    <% else %>
                                        <% result = current_user.name.split.map(&:first).join.upcase %>
                                        <% profile_bg_color = ["blue-300", "stone-400", "amber-300", "sky-500", "orange-500" ].shuffle.first  %>
                                        <div class="w-14 h-14 my-1 bg-amber-400 border-none rounded-full cursor-pointer flex items-center justify-center" id="btn" aria-describedby="tooltip" >
                                            <p class="text-black text-lg font-bold font-serif"><%= result %> </p>
                                        </div>
                                    <% end %>
                                    <div class="bg- w-fit flex flex-col items-start justify-start px-2 gap-y-0.5">
                                        <p class="text-md font-medium "><%= message.user.name %></p>
                                        <div class="flex flex-col gap-0.5">
                                            <p class=" text-md w-fit h-fit px-2 py-2 self-start text-left bg-[#fff] rounded-r-lg rounded-bl-lg"><%= message.content%></p>

                                            <!-- image preview if image available -->
                                            <% if message.post_image.attached? %>
                                                <div class="flex flex-row justify-between items-center gap-2">
                                                    <div class="bg-[#fff] w- rounded-xl py-1 px-1 flex-col flex gap-1 justify-between"> 
                                                        <%= image_tag(message.post_image, class: "w-96 h-58 bg-cover rounded-xl cursor-pointer") %>
                                                    </div>
                                                    <div class="rounded-full flex flex-row  gap-1 w-fit h-fit px-2 py-0.5 ">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-7 h-7 text-yellow-500 cursor-pointer transform hover:scale-125 transition duration-500 ease-in-out ">
                                                            <path d="M7.493 18.5c-.425 0-.82-.236-.975-.632A7.48 7.48 0 0 1 6 15.125c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75A.75.75 0 0 1 15 2a2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23h-.777ZM2.331 10.727a11.969 11.969 0 0 0-.831 4.398 12 12 0 0 0 .52 3.507C2.28 19.482 3.105 20 3.994 20H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 0 1-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227Z" />
                                                        </svg>
                                                        <!-- if the current user lies then count will come in bold and blue in color-->
                                                        <% if message.likes_count > 0 %>
                                                            <p class="text-lg font-semibold "><%= message.likes_count %></p>
                                                        <% end %>
                                                    </div>
                                                </div>
                                            <% end %>
                                            <p class="text-sm self-start text-left font-medium text-slate-800">
                                            <%= time_ago_in_words(message.created_at.in_time_zone("Mumbai")) %> ago
                                            </p>
                                            <p class="text-sm font-medium text-black text-wrap">
                                                From, <%= Community.find(ChatRoom.find(message.chat_room_id).community_id).name%> community
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    <% end %>
                </section>
            <% end %>
        </section>
    </section>
</div>
<script>
    const notificationsDiv = document.getElementById("notifications-div")

    const openNotificationBtn = document.getElementById("btn-open-notifications")
    openNotificationBtn.addEventListener("click",()=>{
        console.log("notification open button clicked....")
        notificationsDiv.classList.remove("hidden")
    })

    const closeNotificationBtn = document.getElementById("btn-close-notifications")
    closeNotificationBtn.addEventListener("click",()=>{
        console.log("notification close button clicked....")
        notificationsDiv.classList.add("hidden")
    })

</script>