<!-- Explore tab -->
<%= link_to :back, class:"w-fit h-fit border-gray-500 border-2 px-2 py-1 text-sm font-light rounded-full" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
    </svg>
<% end %>
<div class="w-full flex flex-col items-center max-h-screen overflow-y-auto custom-scrollbar px-20">
    <div class="bg-slate-500">
        <p class="text-2xl font-semibold font-mono">Explore</p>
    </div>
    <div class="w-full h-fit max-w-screen flex flex-col py-2 px-20 items-center  ">
        <!-- header -->
        <div class="w-full h-fit flex flex-col items-center justify-center gap-2">
            <!-- search bar to search on tags, caption, title, etc. -->
            <div class="w-full flex-1 flex flex-row items-center justify-center px-20 py-1">
                <div class="w-full h-fit bg-[#efefef] px-4 py-1 rounded-md shadow-md">
                    Search...
                </div>
            </div>
            <!-- tags -->
            <div class="w-full flex flex-row items-center justify-center gap-2 flex-wrap">
                <% @tags.each do |tag|%>
                    <p class="text-sm font-medium px-2 py-1 rounded-md bg-orange-50 cursor-pointer"><%= tag.name %></p>
                <% end %>
            </div>
        </div>

        <!-- Showing results -->
        <div class="flex flex-col items-start justify-center gap-2 p-2">
            <% @shuffled_records.each do |record| %>
                <% if record.is_a?(VideoPost) %>
                    <% c = Community.find(ELearningChatRoom.find(record.e_learning_chat_room_id).community_id)%>
                    <% if !Community.find(ELearningChatRoom.find(record.e_learning_chat_room_id).community_id).isPrivate%>
                        <div class="p-2 rounded-md bg-white shadow-md flex gap-2 flex-col hover:bg-blue-300">
                            <div class="flex items-center justify-between">
                                <%= link_to c, class: "block flex flex-row items-center gap-2" do %>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                                    </svg>
                                    <p class="text-sm font-normal py-1"><%= c.name %></p>
                                <% end %>
                                <%= link_to e_learning_chat_room_video_post_path(record.e_learning_chat_room_id, record), class: "flex items-center justify-start gap-2 rounded-md", style: "text-decoration: none;" do %>
                                    <p class="text-sm font-semibold px-2 py-1">View Post</p>
                                <% end %>
                            </div>
                            <!-- all possible video_post info -->
                            <%= video_tag(record.video_file, controls: false, preload: false, muted:true, class:"w-[38em] h-68 rounded-md") %>
                            <div class="flex flex-row items-center justify-start gap-1">
                                <p class="text-sm">by</p>
                                <%= link_to User.find(record.user_id), class: "block" do %>
                                    <p class="text-sm  font-medium text-black">                                
                                        <%= User.find(record.user_id).username %>,
                                    </p>
                                <% end %>
                                <p class="text-sm  font-medium text-gray-500">
                                    <%= time_ago_in_words(record.created_at.in_time_zone("Mumbai")) %> ago
                                </p>
                            </div>
                            <p class="text-md font-medium"><%= record.title %></p>
                            <div class="flex flex-row items-center gap-2">
                                <div class="flex flex-row gap-2 items-center px-2 py-1 border-gray-500 border-2 rounded-full transform hover:scale-110 transition duration-500 ease-in-out">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z" />
                                    </svg>
                                    <p class="text-md font-semibold "><%= record.likes.count %></p>
                                </div>
                                <div class="flex flex-row gap-2 items-center px-2 py-1 border-gray-500 border-2 rounded-full transform hover:scale-110 transition duration-500 ease-in-out">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z" />
                                    </svg>
                                    <p class="text-md font-semibold "><%= record.comments.count %></p>
                                </div>
                            </div>
                            <div class="flex flex-row items-center justify-start gap-2">
                                <% record_tags = record.tags %>
                                <% record_tags.each do |tag|%>
                                    <%= link_to tag, style:"text-decoration:none" do %>
                                        <p class="px-2  py-0.5 bg-blue-300 rounded-md text-md font-normal"><%= tag.name.capitalize %></p>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                <% elsif record.is_a?(Message) %>
                    <% c = Community.find(ChatRoom.find(record.chat_room_id).community_id)%>
                    <% if !c.isPrivate%>
                        <div class="p-2 rounded-md bg-white shadow-md flex gap-2 flex-col">
                            <%= link_to c, class: "block flex flex-row items-center gap-2" do %>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                                </svg>
                                <p class="text-sm font-normal py-1"><%= c.name %></p>
                            <% end %>
                            <!-- all possible message_image info  -->
                            <% if record.post_image.attached? %>
                                <%= image_tag(record.post_image, class:"w-96 h-48 bg-cover rounded-xl cursor-pointer") %>
                            <% end %>
                            <div class="flex flex-row items-center justify-start gap-1">
                                <p class="text-sm">by</p>
                                <%= link_to User.find(record.user_id), class: "block" do %>
                                    <%= User.find(record.user_id).username %>
                                <% end %>
                            </div>
                            <p class="text-wrap text-md"><%= record.content %></p>
                            <div class="w-fit h-fit flex flex-row gap-2 items-center px-2 py-1 border-gray-500 border-2 rounded-full transform hover:scale-110 transition duration-500 ease-in-out">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z" />
                                    </svg>
                                    <p class="text-md font-semibold "><%= record.likes.count %></p>
                                </div>
                        </div>
                    <% end %>
                <% end %>
            <% end %>

        </div>
    </div>
</div>