<%= form_with(model: [@e_learning_chat_room, @video_post], remote: true) do |form| %> 

    <%= form.hidden_field :user_id, value: current_user.id %>

    <!-- validation errors here -->
    <% if @video_post.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
          <h2><%= pluralize(@video_post.errors.count, "error") %> prohibited this video_post from being saved:</h2>
          <ul>
            <% @video_post.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div data-controller="previews" class="flex flex-col items-start justify-center gap-2">

        <%= form.text_field :title, placeholder:"Post title", class:"border-0.5 border-slate-500 rounded-md " %>

        <%= form.text_field :tags, value: @video_post.tags.map(&:name).join(","), placeholder:"Tags", class:"border border-slate-500 rounded-md" %>
        
        <%= form.file_field :video_file, accept: "video/*", data: { previews_target: "input", action: "change->previews#preview" } %>

        <% if @video_post.video_file.attached? %>
            <%= video_tag(@video_post.video_file,data: { previews_target: "preview" } , controls: false, preload: false, muted:true, class:"w-20 h-20 rounded-md") %>
        <% else %>
            <%= video_tag("", data: { previews_target: "preview" } , controls: false, preload: false, muted:true, class:"w-20 h-20 rounded-md") %>
        <% end %>

        <div class="w-full rounded-full text-md font-medium bg-[#0775ff] py-1 justify-center items-center flex cursor-pointer">
            <%= form.submit "Submit", data: { disable_with: false }, class:"text-white cursor-pointer"%>
        </div>
    
    </div>

<% end %>