<div id="chat-room-id" data-chat-room-id="<%= @single_chatroom.try(:id) %>"></div>

<!-- Selected community info -->
<section class="flex flex-1 flex-col justify-between bg-white my-1 mx-2 rounded-md py-2 px-2" >

    <!-- TODO: Chatroom section and messaging functionality -->
  
    <!-- Community header which displays community profile, name, toggle between communities and delete or leave community buttons -->
    <div class=" flex flex-row items-center justify-start gap-3 mx-2 mb-2" >
        <div id="btn_community_show" aria-describedby="tooltip_community">
            <%= image_tag(community.community_profile, class: " w-12 h-12 rounded-full cursor-pointer transform hover:scale-125 transition duration-200 ease-in-out") %>
        </div>
        <div class="relative flex flex-1 flex-col items-start justify-items-start">
            <div class="flex flex-row ">
                <p class="text-lg font-medium text-black"><%= community.name%></p>
                <!-- TODO: Create new community with modal -->
                <% if community_admin.id == current_user.id %>
                    <%= link_to edit_community_path(community), data: {turbo_frame: :modal, action: "click -> dialog#open"}, class: "block" do %>
                        <div class="w-6 h-6 mx-2 border-none cursor-pointer flex justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 hover:w-5 hover:h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <p class="text-sm text-[#a6a8aa] "><%= community.users.count%> members</p>
            <!-- TOOLTIP for community info -->
            <div class="min-w-fit max-h-[30em] overflow-y-auto hide-scrollbar flex flex-row items-start justify-start cursor-default  text-sm bg-slate-800 text-white py-2 px-4 gap-5 rounded-md hidden absolute -left-12 top-14" style="white-space: nowrap;" id="tooltip_community" role="tooltip_community">
                <%= image_tag(community.community_profile, class:"h-36 w-36") %>
                <div class=" max-w-96 flex flex-1 flex-col gap-2 py-2">
                    <p class="text-start text-md font-semibold text-[#fff] ">
                        Topic : 
                        <span class="text-md text-slate-400"><%= community.topic %> / 
                        <% if community.isPrivate %>
                            Private
                        <% else %>
                            Public
                        <% end %>
                        </span>
                    </p>
                    <p class="text-start text-md font-semibold text-[#fff] ">
                        About : <span class="text-md text-wrap text-slate-400 break-words"><%= community.about %></span>
                    </p>
                    <% user = User.find(community.admin_id)%>
                    <p class="text-start text-md font-semibold text-[#fff] ">
                        Created by <span class="text-md text-wrap text-slate-400 break-words"><%= user.name %>, <%= community.created_at.in_time_zone("Mumbai").strftime("%d/%m/%Y") %> </span>
                    </p>

                </div>
            </div>
        </div>
        <!-- toggle between communities buttons -->
        <% if @single_community.topic == "E-Learning" || @single_community.topic == "Sports"%>
            <div class="flex flex-row rounded-full bg-blue-200 gap-2 px-2 py-1">
                <% if @single_community.topic == 'E-Learning' %>
                        <button id="btn-eLearning" class="text-sm -z-1 font-medium py-1 text-white cursor-pointer transform hover:scale-105 transition duration-300 ease-in-out bg-orange-500 px-2 rounded-full">Learning</button>
                <% end %>
                <% if @single_community.topic == 'Sports'%>
                        <button id="btn-eLearning" class="text-sm font-medium py-1 text-white cursor-pointer transform hover:scale-105 transition duration-300 ease-in-out bg-orange-500 px-2 rounded-full">Sports</button>
                <% end %>
                    <button id="btn-chatRoom" class="text-sm font-medium py-1 text-white cursor-pointer transform hover:scale-105 transition duration-300 ease-in-out bg-orange-500 px-2 rounded-full">Chatroom</button>
            </div>
        <% end %>
        <!-- DELETE community buttons -->
        <div class="px-1">
            <% if @community_admin.id != current_user.id %>
                <%= link_to leave_community_path(community), class: "block" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-500 cursor-pointer transform hover:scale-110 transition duration-500 ease-in-out ">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                    </svg>
                <% end %>
            <% else %>
                <%= link_to delete_community_path(community), class: "block" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-500 cursor-pointer transform hover:scale-110 transition duration-500 ease-in-out ">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                <% end %>
            <% end %>
        </div>

        <!-- share button -->
        <div
            id="<%= dom_id @single_community %>" 
            data-controller="share"
            data-share-url-value="<%= share_community_url(@single_community.id, current_user) %>"
            class="flex items-center justify-center p-1">
                <%= button_to "", data: { action: "click->share#share" } do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                    </svg>
                <% end %>
        </div>
    </div>

    <!-- This is a community part which shows the chat_room or e-learning chatroom -->
        <% if @single_community.topic == "E-Learning"%>
            <!-- START: show e-learning chat_room -->
            <div id="eLearning-div" class="hidden rounded-md flex flex-1 flex-col bg-[#f4f6fa]">
                <div class="flex flex-1 flex-col items-center justify-start bg-[#f4f6fa] rounded-md px-5 my-2 py-2 max-h-[33.5em] overflow-y-auto custom-scrollbar w-full">
                    <!-- post -->
                    <%= turbo_stream_from @e_learning_chat_room %>
                    <div id="video_posts" class="gap-5">
                        <%= render @video_posts, community_admin: @community_admin, current_user: current_user %>
                    </div>
                </div>
                <div class="video-footer w-full flex items-center justify-center  flex-col gap-2">
                    <div id="div-new-video-form" class="hidden bg-white p-4 rounded-md flex flex-col items-center justify-start gap-2">
                        <p class="text-center text-xl font-semibold">New Post</p>
                        <%= render "layouts/new_video_post_form" %>
                    </div>
                    <button id="btn-open-new-post-form" class="cursor-pointer transform hover:scale-105 transition duration-200 ease-in-out">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-12 h-12 rounded-full">
                          <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
            </div>
            <!-- END: show e-learning chat_room -->
        <% end %>
        <!-- sports community -->
        <% if @single_community.topic == "Sports"%>
            <div id="eLearning-div" class="hidden flex flex-col flex-1 bg-[#f4f6fa] rounded-md p-2">
                <%= render 'communities/sports_community', matches: @matches%>
            </div>
        <% end %> 
    <!-- START: show chat_room -->

    <div id="chatRoom-div" class=" flex flex-col flex-1 ">
        <div  class=" flex flex-1 flex-col bg-[#f4f6fa] rounded-md my-2 p-2 w-full max-h-[33em] overflow-y-auto custom-scrollbar" >
            
            <!-- chatroom : render a _message_form partial here -->
            

            <div id="messages" data-controller="scroll">
                <% @messages.each do |message|%>
                    <%= render 'messages/message', message: message %>
                <% end %>
            </div>

        </div>
        <%= render 'layouts/new_message_form' %>
    </div>
    <!-- END: show chat_room -->
 
</section>


    
<!-- Community members list and Join requests -->
<!-- TODO: list the community members and community join request section(visible only if current_user is a admin of the community) -->
<section class="pr-2 py-1 rounded-lg bg-[#dee4f6] flex-col flex-wrap min-w-56 text-orange-950 text-md max-h-screen max-w-fit w-fit bg-gray-800-50 hidden lg:block md:block gap-2">

    <div class="flex flex-1 flex-col bg-white py-1 px-4 rounded-md">
        <div class="flex flex-row items-center justify-start gap-2">
            <p class="text-start text-sm font-semibold text-[#a6a8aa] py-2">Admin </p>
            <img src="https://cdn-icons-png.flaticon.com/128/657/657694.png" alt="admin", class="w-3.5 h-3.5 text-[#a6a8aa]">
        </div>
        <div class="flex flex-row items-center justify-start gap-3 py-1 px-2">
            <% if community_admin.profile_image.attached?%>
                <%= link_to user, class: "block" do %>
                    <%= image_tag(community_admin.profile_image, class: "w-8 h-8 rounded-full") %>
                <% end %>
            <% else %>
                <%= link_to user, class: "block" do %>
                    <% result = community_admin.name.split.map(&:first).join.upcase %>
                    <% profile_bg_color = ["blue-300", "stone-400", "amber-300", "sky-500", "orange-500" ].shuffle.first  %>
                    <div class="w-8 h-8 bg-amber-400 border-none rounded-full cursor-pointer flex items-center justify-center" id="btn" aria-describedby="tooltip" >
                        <p class="text-gray-700 text-sm font-bold font-serif"><%= result %> </p>
                    </div>
                <% end %>
            <% end %>
            <p class="text-md text-[#7a7a7a]"><%= community_admin.username%></p>
        </div>
        <p class="text-start text-sm font-semibold text-[#a6a8aa] py-2">Community Members - <%= community.users.count%> </p>
        <% community.users.each do |user|%>
            <div class="flex flex-row items-center justify-start gap-3 py-1 px-2">
                <% if user.profile_image.attached?%>
                    <%= link_to user, class: "block" do %>
                        <%= image_tag(user.profile_image, class: "w-8 h-8 rounded-full") %>
                    <% end %>
                <% else %>
                    <%= link_to user, class: "block" do %>
                        <% result = user.name.split.map(&:first).join.upcase %>
                        <% profile_bg_color = ["blue-300", "stone-400", "amber-300", "sky-500", "orange-500" ].shuffle.first  %>
                        <div class="w-8 h-8 bg-amber-400 border-none rounded-full cursor-pointer flex items-center justify-center" id="btn" aria-describedby="tooltip" >
                            <p class="text-gray-700 text-sm font-bold font-serif"><%= result %> </p>
                        </div>
                    <% end %>
                <% end %>
                <p class="text-md text-[#7a7a7a]"><%= user.username%></p>
            </div>
        <% end %>
    </div>
    <% if current_user.id == @community_admin.id && @single_community.isPrivate %>
        <hr class="w-full h-2 mx-auto bg-[#000] border-0 rounded  dark:bg-gray-200">
        <div class="flex flex-col bg-white py-1 px-2 rounded-md">
            <div class="flex flex-row items-center justify-start gap-2">
                <p class="text-start text-sm font-semibold text-[#a6a8aa] py-2">Requests </p>
                <img src="https://cdn-icons-png.flaticon.com/128/1592/1592490.png" alt="admin", class="w-4 h-4 text-[#a6a8aa]">
            </div>

            <% if pending_requests.count <= 0 %>
                <p class="text-center text-sm font-semibold text-[#a6a8aa] py-2">No Requests Pending...</p>
            <% end %>

            <% pending_requests.each do |p| %>
                <div class="flex flex-row items-center justify-start gap-3 py-1 px-2">
                    <% pending_user = User.find(p.user_id) %>
                    <% if pending_user.profile_image.attached?%>
                        <%= image_tag(pending_user.profile_image, class: "w-8 h-8 rounded-full") %>
                    <% else %>
                        <% result = pending_user.name.split.map(&:first).join.upcase %>
                        <% profile_bg_color = ["blue-300", "stone-400", "amber-300", "sky-500", "orange-500" ].shuffle.first  %>
                        <div class="w-8 h-8 bg-amber-400 border-none rounded-full cursor-pointer flex items-center justify-center" id="btn" aria-describedby="tooltip" >
                            <p class="text-gray-700 text-sm font-bold font-serif"><%= result %> </p>
                        </div>
                    <% end %>
                    <p class="text-md text-[#7a7a7a] flex-1"><%= pending_user.username%></p>
                    <%= link_to accept_request_to_join_community_path(p), class: "block cursor-pointer transform hover:scale-125 transition duration-500 ease-in-out " do %>
                        <div class="flex items-center justify-center w-6 h-6 rounded-full cursor-pointer  ">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-5 h-5 font-bold text-green-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                            </svg>
                        </div>
                    <% end %>
                    <%= link_to reject_request_to_join_community_path(p), class: "block cursor-pointer transform hover:scale-125 transition duration-500 ease-in-out " do %>
                        <div class="flex items-center justify-center w-6 h-6 rounded-full cursor-pointer  ">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 font-bold text-red-500">
                            <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
</section>


<script>
  console.log("connected... new method");
  window.addEventListener('DOMContentLoaded', ()=>{
    const btn_community_show = document.querySelector('#btn_community_show');
    const tooltip_community = document.querySelector('#tooltip_community');
    
    btn_community_show.addEventListener('mouseenter', ()=>{
      console.log("mouse enter..")
      tooltip_community.classList.remove('hidden');
    })
    btn_community_show.addEventListener('mouseleave', ()=>{
      console.log("mouse out..")
      tooltip_community.classList.add('hidden');
    })
  })

    const chatDiv = document.getElementById("chatRoom-div")
    const eLearningDiv = document.getElementById("eLearning-div")
    const sportsDiv = document.getElementById("sports-div")
    const newVideoFormDiv = document.getElementById("div-new-video-form")
    
    const openNewVideoFormButton = document.getElementById("btn-open-new-post-form")
    openNewVideoFormButton.addEventListener("click",()=>{
        console.log("openNewVideoFormButton button clicked....")
        if(newVideoFormDiv.classList.contains('hidden')){
            newVideoFormDiv.classList.remove("hidden")
            openNewVideoFormButton.classList.add("new-video-post-btn-rorate-first");
        }else{
            newVideoFormDiv.classList.add('hidden')
            openNewVideoFormButton.classList.add("new-video-post-btn-rorate-second");
        }
    })

    const chatButton = document.getElementById("btn-chatRoom")
    chatButton.addEventListener("click",()=>{
        console.log("chat button clicked....")
        chatDiv.classList.remove("hidden")
        eLearningDiv.classList.add("hidden")
        sportsDiv.classList.add("hidden")
    })
    
    const eLearningButton = document.getElementById("btn-eLearning")
    eLearningButton.addEventListener("click",()=>{
        chatDiv.classList.add("hidden")
        eLearningDiv.classList.remove("hidden")
        sportsDiv.classList.add("hidden")
    })

    const sportsButton = document.getElementById("btn-sports")
    sportsButton.addEventListener("click",()=>{
        console.log("sports button clicked....")
        chatDiv.classList.add("hidden")
        sportsDiv.classList.remove("hidden")
    })

</script>