<!DOCTYPE html>
<html>
  <head>
    <title>LiveCollaborationTool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-visit-control" content="reload">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      <%= ".msg-#{current_user&.id}" %> {
      padding: 10px;
      }
      <%= ".cont-#{current_user&.id}" %> {
      display: flex;
        justify-content: flex-end
      }
    </style>
    <script>
      console.log("connected... to method");
      window.addEventListener('DOMContentLoaded', ()=>{
        const btn = document.querySelector('#btn');
        const tooltip = document.querySelector('#tooltip');
        
        btn.addEventListener('mouseenter', ()=>{
          console.log("mouse enter..")
          tooltip.classList.remove('hidden');
        })
        btn.addEventListener('mouseleave', ()=>{
          console.log("mouse out..")
          tooltip.classList.add('hidden');
        })
      })
    </script>
    
  </head>

  <body>
    <%= turbo_frame_tag :modal  %>
    <main class="mx-auto m-0 p-0 flex hide-scrollbar">
    <%= render "shared/notifications", message: flash[:notice]%>
      <%= yield %>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
  </body>
</html>
